* {
  margin: 0;
}
.container_geral {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  row-gap: 30px;
  margin-top: 5%;
}
.titulo {
  color: rgb(29, 5, 69);
}
.main_content {
  display: flex;
  flex-direction: column;
  width: 80vw;
  justify-content: start;
  row-gap: 25px;
  margin-top: 50px;

  .main_btns {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

.btns-div {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  margin-left: 20%;
  width: 1050px;
  background-color: rgb(34, 156, 42);
  justify-content: space-between;
}
.afd-afd-minimizado-row {
  text-align: center;
}

.resultado_container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}
.item-btn {
  background-color: #ffb4a2;
}

.action-btn {
  margin-top: 40px;
}
.btn_novaafn_container {
  width: 80vw;
  margin-top: -40px;
  display: flex;
  justify-content: start;
}
.btn_criarnovaafn {
  align-items: center;
  width: 300px;
}
.coverterafd_container {
  width: 70vw;
  display: flex;
  justify-content: end;
}

.simular_container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  column-gap: 40px;
}
.input_palavra {
  border: 1px solid #ffb4a2;
  color: #fff;
  padding: 5px;
  border-radius: 20px;
}
.btn_simularafd {
  background-color: #602327;
}

@media (max-width: 600px) {
  .item-btn {
    width: 100%;
    padding: 10px;
  }

  .action-btn {
    margin-top: 20px;
    width: 100%;
  }

  .estado-alfabeto-row {
    flex-wrap: wrap;
  }
  .estado-inicial-e-finais-row {
    flex-wrap: wrap;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.afd-afd-minimizado-row {
  display: flex;
  gap: 20px;
}

.estado-alfabeto-row {
  display: flex;
  column-gap: 20px;
}
.estado-inicial-e-finais-row {
  display: flex;
  column-gap: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
